#* @vtlvariable name="collectionUtil" type="com.sjhy.plugin.tool.CollectionUtil" *#
<!DOCTYPE html>
<html>
<head>
    <title>${tableInfo.comment}列表}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- 请修改相对路径 -->
    <script src="../../../../frame/fui/js/cssboot.js"></script>
</head>

<body>
<!-- 必须有，加载时的loading效果 -->
<div class="page-loading"></div>
<!-- title区域 -->
<div class="fui-title">
    <span class="fui-title-text">${tableInfo.comment}列表</span>

    <div class="r">
        <!-- 帮助按钮，与帮助信息区域同步存在 -->
        <!-- <span class="mini-button" plain="true" data-role="help" data-showtype="tooltip" iconCls="icon-help">帮助</span> -->
        <span class="mini-button" plain="true" data-role="refresh"
              iconCls="icon-refresh">刷新</span>
    </div>
</div>
<!-- toolbar区域 -->
<div class="fui-toolbar">
    <a class="mini-button" state="primary" onclick="openAdd" id="btnAdd"> 新增 </a> <a id="btnDel" state="danger"
                                                                                     class="mini-button"
                                                                                     onclick="szjs.deleteData">删除选定 </a>
    <a class="mini-dataexport" id="dataexport" gridId="datagrid" fileName="查询列表" action="getExportModel"
        extraId="fui-form"></a>
    <!-- 帮助信息区域 默认隐藏-->
    <!-- <div class="fui-notice hidden"></div> -->
</div>
<!-- 条件区域 -->
<div class="fui-condition">
    <div class="fui-form" id="fui-form">
        <div role="form">
            #foreach($searchColumnList in $tableInfo.getSearchColumnWithGroup(2))
            <div role="row">
                #foreach($searchColumn in $searchColumnList)
                    <div role="control" label="$searchColumn.comment">
                        <input bind="$searchColumn.name" class="mini-textbox" id="$searchColumn.name" required="true" requiredErrorText="${searchColumn.comment}不能为空!" vtype="maxLength:$co" />
                    </div>
                #end
            </div>
            #end



            <div role="row">
                <div role="control" label="姓名" starred="true">
                    <input bind="name" class="mini-textbox" id="name" required="true" requiredErrorText="姓名不能为空!" vtype="maxLength:200" />
                </div>
                <div role="control" label="身份证号码" starred="true">
                    <input id="idnum" class="mini-textbox" bind="idnum" required="true" requiredErrorText="身份证号码不能为空!" vtype="maxLength:200" />
                </div>
            </div>
        </div>
    </div>
    <a role="searcher" callback="searchData" id="searchBtn"></a>
</div>

<!-- 内容区域 -->
<div id="fuiContent" class="fui-content">
    <div id="datagrid" class="mini-datagrid" idField="rowguid" action="getDataGridData" sortOrder="desc"
         showPager="true" style="height: 100%;" allowResize="true" multiSelect="true" allowCellEdit="true"
         allowCellSelect="true" editNextOnEnterKey="true" editNextRowCell="true">
        <div property="columns">
            <div type="checkcolumn" width="60"></div>
            <div type="indexcolumn" width="60" align="left" headerAlign="left">序</div>
            <div field="prjname">
                项目名称
            </div>
            <div field="bidsectionname">
                工程名称
            </div>
            <div width="60" align="left" headerAlign="left" renderer="szjs.onEdit">
                修改
            </div>
            <div width="60" align="left" headerAlign="left" renderer="szjs.onDetail">
                查看
            </div>
        </div>
    </div>
</div>

<!-- 请修改相对路径 -->
<script src="../../../../rest/resource/jsboot"></script>
<script>
    // 初始化页面
    epoint.initPage('${$tool.toLowerCase(${tableInfo.name})}listaction', null, function (data) {
        szjs.init_list(data);
    });

    var openAdd = function () {
        epoint.openTopDialog('新增', './$tool.toLowerCase(${tableInfo.name})_edit', szjs.searchData);
    }

    var openEdit = function (rowguid) {
        epoint.openTopDialog('修改', './$tool.toLowerCase(${tableInfo.name})_edit?RowGuid=' + rowguid, szjs.searchData);
    }

    var openDetail = function (rowguid) {
        epoint.openTopDialog('查看', './$tool.toLowerCase(${tableInfo.name})_detail?RowGuid=' + rowguid, szjs.searchData);
    }
</script>
</body>
</html>