##（Velocity宏定义）

##定义设置表名后缀的宏定义，调用方式：#setTableSuffix("Test")
#macro(setTableSuffix $suffix)
    #set($tableName = $!tool.append($tableInfo.name, $suffix))
#end

##定义设置包名后缀的宏定义，调用方式：#setPackageSuffix("Test")
#macro(setPackageSuffix $suffix)
    #if($suffix!="")package #end#if($tableInfo.savePackageName!="")$!{tableInfo.savePackageName}.#{end}$!suffix;
#end

##定义直接保存路径与文件名简化的宏定义，调用方式：#save("/entity", ".java")
#macro(save $path $fileName)
    $!callback.setSavePath($tool.append($tableInfo.savePath, $path))
    $!callback.setFileName($tool.append($tableInfo.name, $fileName))
#end

##定义表注释的宏定义，调用方式：#tableComment("注释信息")
#macro(tableComment $desc)
/**
* $!{tableInfo.comment}($!{tableInfo.name})$desc
*
* @author $!author
* @since $!time.currTime()
*/
#end

##定义GET，SET方法的宏定义，调用方式：#getSetMethod($column)
#macro(getSetMethod $column)

public $!{tool.getClsNameByFullName($column.type)} get$!{tool.firstUpperCase($column.name)}() {
return $!{column.name};
}

public void set$!{tool.firstUpperCase($column.name)}($!{tool.getClsNameByFullName($column.type)} $!{column.name}) {
this.$!{column.name} = $!{column.name};
}
#end


#*Epoint Html*#

#*editform*#
#macro(epointeditform $tableInfo)
    #foreach($columnlist in $tableInfo.getEditColumnWithGroup(2))
    <div role="row">
        #foreach($eachcolumnInfo in $columnlist)
            #set($columnname= $tool.toLowerCase($eachcolumnInfo.name))
            #if($eachcolumnInfo.type == "java.util.Date")
                <div role="control" label="$eachcolumnInfo.comment" starred="true">
                    <input id="$columnname" class="mini-datepicker" bind="dataBean.$columnname" required="true"
                           requiredErrorText="${eachcolumnInfo.comment}不能为空!"/>
                </div>
            #elseif($eachcolumnInfo.type == "java.lang.Integer")
                <div role="control" label="$eachcolumnInfo.comment" starred="true">
                    <input id="$columnname" class="mini-textbox" bind="dataBean.$columnname" required="true"
                           requiredErrorText="${eachcolumnInfo.comment}不能为空!" vType="int"/>
                </div>
            #elseif($eachcolumnInfo.type == "java.lang.Double")
                <div role="control" label="$eachcolumnInfo.comment" starred="true">
                    <input id="$columnname" class="mini-textbox" bind="dataBean.$columnname" required="true"
                           requiredErrorText="${eachcolumnInfo.comment}不能为空!" vType="float"/>
                </div>
            #else
                <div role="control" label="$eachcolumnInfo.comment" starred="true">
                    <input id="$columnname" class="mini-textbox" bind="dataBean.$columnname" required="true"
                           maxLength="$eachcolumnInfo.length"
                           requiredErrorText="${eachcolumnInfo.comment}不能为空!"/>
                </div>
            #end
        #end
    </div>
    #end
#end

#*search*#
#macro(epointsearchform $tableInfo)
    #foreach($columnlist in $tableInfo.getSearchColumnWithGroup(2))
    <div role="row">
        #foreach($eachcolumnInfo in $columnlist)
            #set($columnname= $tool.toLowerCase($eachcolumnInfo.name))
            #if($eachcolumnInfo.type == "java.util.Date")
                <div role="control" label="$eachcolumnInfo.comment">
                    <input id="search_$columnname" class="mini-datepicker" bind="dataBean.$columnname"
                    />
                </div>
            #elseif($eachcolumnInfo.type == "java.lang.Integer")
                <div role="control" label="$eachcolumnInfo.comment">
                    <input id="search_$columnname" class="mini-textbox" bind="dataBean.$columnname"
                           vType="int"/>
                </div>
            #elseif($eachcolumnInfo.type == "java.lang.Double")
                <div role="control" label="$eachcolumnInfo.comment">
                    <input id="search_$columnname" class="mini-textbox" bind="dataBean.$columnname"
                           vType="float"/>
                </div>
            #else
                <div role="control" label="$eachcolumnInfo.comment">
                    <input id="search_$columnname" class="mini-textbox" bind="dataBean.$columnname"
                           maxLength="$eachcolumnInfo.length"
                    />
                </div>
            #end
        #end
    </div>
    #end
#end



#*detailform*#

#macro(epointdetailform $tableInfo)
    #foreach($columnlist in $collectionutil.splitList($tableInfo.otherColumn,2))
    <div role="row">
        #foreach($eachcolumnInfo in $columnlist)
            #set($columnname= $tool.toLowerCase($eachcolumnInfo.name))
            #if($eachcolumnInfo.type == "java.util.Date")
                <div role="control" label="$eachcolumnInfo.comment">
                    <div class="mini-outputtext" bind="dataBean.$columnname"
                         data-options="{format:'yyyy-MM-dd HH:mm:ss'}"></div>
                </div>
            #else
                <div role="control" label="$eachcolumnInfo.comment">
                    <div class="mini-outputtext" bind="dataBean.$columnname"></div>
                </div>
            #end
        #end
    </div>
    #end
#end

#*listform*#
#macro(epointlistform $tableInfo)
    #foreach($eachcolumnInfo in $tableInfo.getListColumn())
        #set($columnname= $tool.toLowerCase($eachcolumnInfo.name))
        #if($eachcolumnInfo.type == "java.util.Date")
        <div field="$columnname" data-options="{'format':'yyyy-MM-dd HH:mm:ss'}" dateFormat="yyyy-MM-dd HH:mm:ss">
            ${eachcolumnInfo.comment}
        </div>
        #else
        <div field="$columnname">
            ${eachcolumnInfo.comment}
        </div>
        #end
    #end
#end
